{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Viet Ipsum{% endblock %}
{% block headline %}Viet Ipsum{% endblock %}
{% block navbar %}{% endblock %}

{% block footer %}
    <p>&copy; Quan MT - <a href="http://www.broev.com" target="_blank">Brodev Vietnam CO., LTD</a> 2013</p>
{% endblock footer %}